.DS_Store
.aws-sam/
.build
.index-build
.swiftpm
samconfig.toml
Package.resolved
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*key
.ash
